:root {
  --menuHeight: 60px;
  --nonMainColor: rgb(175, 175, 175);
  --mainOrange: rgb(254, 94, 58);
}

.menu {
  grid-column: 1/ -1;
  background: rgb(64, 66, 87);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.logo {
  background: rgb(82, 84, 107);
  height: 100%;
  width: 70px;
}

.pageName {
  text-align: center;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.wish {
  min-width: 30%;
  padding: 0 20px;
  background: rgb(82, 84, 107);
  display: flex;
  color: var(--nonMainColor);
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  text-align: center;
}

.header_logout {
  all: unset;
  color: rgb(199, 199, 199);
  cursor: pointer;
  padding: 10px;
}

.header_logout:hover {
  color: #fff;
}

.header_link {
  color: #fff;
}

.find {
  color: #fff;
  line-height: var(--menuHeight);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link,
.link > a {
  padding: 10px;
  cursor: pointer;
}

.svgImg {
  fill: var(--nonMainColor);
}

.message {
  position: relative;
}

.messagesAmount {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  background: var(--mainOrange);
}

.link:hover .svgImg {
  fill: white;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.me_left {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.me_right {
  margin-left: 5px;
  color: #fff;
}

.aboutMe {
  color: rgb(196, 196, 196);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.unknown {
  width: 15%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .pageName,
  .find {
    display: none;
  }
  .links {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .links {
    display: none;
  }
  .wish {
    margin: 0 auto 0 4px;
    width: 35%;
  }
  .me {
    font-size: 14px;
  }
  .wish {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 50px;
  }
}
